In [40]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pylab as plt
from matplotlib import pyplot
from mpl_toolkits.mplot3d import Axes3D

In [4]:
da=pd.read_csv('../data/xAPI-Edu-Data.csv') 
pd.set_option('display.max_columns', 34)

In [9]:
da.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 480 entries, 0 to 479
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   gender                    480 non-null    object
 1   NationalITy               480 non-null    object
 2   PlaceofBirth              480 non-null    object
 3   StageID                   480 non-null    object
 4   GradeID                   480 non-null    object
 5   SectionID                 480 non-null    object
 6   Topic                     480 non-null    object
 7   Semester                  480 non-null    object
 8   Relation                  480 non-null    object
 9   raisedhands               480 non-null    int64
 10  VisITedResources          480 non-null    int64
 11  AnnouncementsView         480 non-null    int64
 12  Discussion                480 non-null    int64
 13  ParentAnsweringSurvey     480 non-null    object
 14  ParentschoolSatisfaction  480 non-null    object
 15  StudentAbsenceDays        480 non-null    object
 16  Class                     480 non-null    object
dtypes: int64(4), object(13)
memory usage: 63.9+ KB

In [10]:
da.head().dropna()

,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,ParentschoolSatisfaction,StudentAbsenceDays,Class
0,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,15,16,2,20,Yes,Good,Under-7,M
1,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,20,20,3,25,Yes,Good,Under-7,M
2,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,10,7,0,30,No,Bad,Above-7,L
3,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,30,25,5,35,No,Bad,Above-7,L
4,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,40,50,12,50,No,Bad,Above-7,M

In [19]:
da['gender']=da['gender'].replace({'M':1,'F':2})

In [21]:
%matplotlib qt

In [32]:
fig = pyplot.figure()
ax = Axes3D(fig)

pnt3d=ax.scatter(da['gender'],da['VisITedResources'],da['raisedhands'],c = 'b')
ax.set_xlabel('gender')
ax.set_ylabel('VisITedResources')
ax.set_zlabel('raisedhands')
cbar=plt.colorbar(pnt3d)

In [42]:
from mpl_toolkits.basemap import Basemap

ModuleNotFoundError: No module named 'mpl_toolkits.basemap'

In [47]:
from mpl_toolkits.basemap import Basemap

KeyError: 'PROJ_LIB'

In [4]:
from sympy import symbols, Eq, solve

x= symbols('x')
eq1 = Eq(x**2 -5*x + 6)
sol = solve(eq1, dict=True)
sol

[{x: 2}, {x: 3}]