In [1]:
import pandas as pd

In [25]:
d1={"first_name":["nik","ghio","gfi","hjio"],"last":['vio','fed','gko','dcs']}
d1=pd.DataFrame(d1)

In [40]:
data = {'midle':['Tom', 'nick', 'krish'], 'Age':[20, 21, 19]}
data=pd.DataFrame(data)

In [41]:
d1.join(data,how='left',lsuffix='olo', rsuffix='_other')

  first_name last  midle   Age
0        nik  vio    Tom  20.0
1       ghio  fed   nick  21.0
2        gfi  gko  krish  19.0
3       hjio  dcs    NaN   NaN