In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

In [2]:
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'exercise',
 'flights',
 'fmri',
 'gammas',
 'geyser',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'tips',
 'titanic']

In [3]:
df= sns.load_dataset('tips')

In [4]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [5]:
df['total_bill']

0      16.99
1      10.34
2      21.01
3      23.68
4      24.59
       ...
239    29.03
240    27.18
241    22.67
242    17.82
243    18.78
Name: total_bill, Length: 244, dtype: float64

In [1]:
# # plt.rcParams['figure.figsize'] = [5,5]
# viz_dict = {
#     'axes.titlesize':18,
#     'axes.labelsize':16,
# } 
# sns.set_context("notebook", rc=viz_dict)
# sns.set_style("whitegrid")
_style_keys = [
    "axes.facecolor", "axes.edgecolor",
    "axes.grid", "axes.axisbelow", "axes.labelcolor",

    "figure.facecolor", "grid.color", 
    "grid.linestyle", "text.color",

    "xtick.color", "ytick.color",
    "xtick.direction", "ytick.direction", 
    "lines.solid_capstyle",

    "patch.edgecolor", "patch.force_edgecolor",

    "image.cmap", "font.family", "font.sans-serif",

    "xtick.bottom", "xtick.top",
    "ytick.left", "ytick.right",

    "axes.spines.left", "axes.spines.bottom",
    "axes.spines.right", "axes.spines.top"]
sns.set_theme()

sns.relplot(
    data=df,
    x="total_bill", y="tip", col="time",
    hue="smoker", style="smoker", size="size",
)

NameError: name 'sns' is not defined