In [1]:
import pandas as pd
import pandas_datareader as data
import seaborn as sns

C:\Users\nikhil\anaconda3\lib\site-packages\pandas_datareader\compat\__init__.py:7: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal

In [2]:
yahoo = data.DataReader("AAPL",
                       start='2020-06-1',
                       end='2020-06-17',
                       data_source='yahoo')

In [3]:
yahoo

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-06-01,322.350006,317.209991,317.750000,321.850006,20197800,321.850006
2020-06-02,323.440002,318.929993,320.750000,323.339996,21910700,323.339996
2020-06-03,326.200012,322.299988,324.660004,325.119995,26122800,325.119995
2020-06-04,325.619995,320.779999,324.390015,322.320007,21890100,322.320007
2020-06-05,331.750000,323.230011,323.350006,331.500000,34312600,331.500000
2020-06-08,333.600006,327.320007,330.250000,333.459991,23913600,333.459991
2020-06-09,345.609985,332.010010,332.140015,343.989990,36928100,343.989990
2020-06-10,354.769989,346.089996,347.899994,352.839996,41662900,352.839996
2020-06-11,351.059998,335.480011,349.309998,335.899994,50415600,335.899994
2020-06-12,347.799988,334.220001,344.720001,338.799988,50001500,338.799988
2020-06-15,345.679993,332.579987,333.250000,342.989990,34702200,342.989990
2020-06-16,353.200012,344.720001,351.459991,352.079987,41276300,352.079987
2020-06-17,355.369995,352.329987,355.149994,353.029999,11702679,353.029999

SyntaxError: unexpected EOF while parsing (<ipython-input-4-8e984fe26415>, line 1)