In [1]:
import numpy as np  
import pandas as pd  
import matplotlib.pyplot as plt  
import statistics as st

In [2]:
%matplotlib qt

In [3]:
us_store=pd.read_csv("../data/US_store.csv",encoding='unicode_escape')
us_store.head()
us_store.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   object
 3   Ship Date      9994 non-null   object
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: float64(3), int64(3), object(15)
memory usage: 1.6+ MB

In [4]:
"selecting data  state and customer name"
states_cust=us_store.iloc[0:,[10,6]]
states_sales=us_store.iloc[0:,[10,17]]
states_sales

           State     Sales
0       Kentucky  261.9600
1       Kentucky  731.9400
2     California   14.6200
3        Florida  957.5775
4        Florida   22.3680
...          ...       ...
9989     Florida   25.2480
9990  California   91.9600
9991  California  258.5760
9992  California   29.6000
9993  California  243.1600

[9994 rows x 2 columns]

In [5]:
"grouping"
v = states_cust.groupby(['State'])['Customer Name'].count()
v = v.to_frame()

In [6]:
v.reset_index(0,inplace=True)
v

                   State  Customer Name
0                Alabama             61
1                Arizona            224
2               Arkansas             60
3             California           2001
4               Colorado            182
5            Connecticut             82
6               Delaware             96
7   District of Columbia             10
8                Florida            383
9                Georgia            184
10                 Idaho             21
11              Illinois            492
12               Indiana            149
13                  Iowa             30
14                Kansas             24
15              Kentucky            139
16             Louisiana             42
17                 Maine              8
18              Maryland            105
19         Massachusetts            135
20              Michigan            255
21             Minnesota             89
22           Mississippi             53
23              Missouri             66
24               Montana             15
25              Nebraska             38
26                Nevada             39
27         New Hampshire             27
28            New Jersey            130
29            New Mexico             37
30              New York           1128
31        North Carolina            249
32          North Dakota              7
33                  Ohio            469
34              Oklahoma             66
35                Oregon            124
36          Pennsylvania            587
37          Rhode Island             56
38        South Carolina             42
39          South Dakota             12
40             Tennessee            183
41                 Texas            985
42                  Utah             53
43               Vermont             11
44              Virginia            224
45            Washington            506
46         West Virginia              4
47             Wisconsin            110
48               Wyoming              1

In [7]:
"State wise frequency"
v['State']
plt.bar(v['State'],v['Customer Name'])
plt.xticks(rotation=90)

([0,
  1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48],
 [Text(0, 0, ''),
  Text(0, 0, ''),
  Text(0, 0, ''),
  Text(0, 0, ''),
  Text(0, 0, ''),
  Text(0, 0, ''),
  Text(0, 0, ''),
  Text(0, 0, ''),
  Text(0, 0, ''),
  Text(0, 0, ''),
  Text(0, 0, ''),
  Text(0, 0, ''),
  Text(0, 0, ''),
  Text(0, 0, ''),
  Text(0, 0, ''),
  Text(0, 0, ''),
  Text(0, 0, ''),
  Text(0, 0, ''),
  Text(0, 0, ''),
  Text(0, 0, ''),
  Text(0, 0, ''),
  Text(0, 0, ''),
  Text(0, 0, ''),
  Text(0, 0, ''),
  Text(0, 0, ''),
  Text(0, 0, ''),
  Text(0, 0, ''),
  Text(0, 0, ''),
  Text(0, 0, ''),
  Text(0, 0, ''),
  Text(0, 0, ''),
  Text(0, 0, ''),
  Text(0, 0, ''),
  Text(0, 0, ''),
  Text(0, 0, ''),
  Text(0, 0, ''),
  Text(0, 0, ''),
  Text(0, 0, ''),
  Text(0, 0, ''),
  Text(0, 0, ''),
  Text(0, 0, ''),
  Text(0, 0, ''),
  Text(0, 0, ''),
  Text(0, 0, ''),
  Text(0, 0, ''),
  Text(0, 0, ''),
  Text(0, 0, ''),
  Text(0, 0, ''),
  Text(0, 0, '')])

In [8]:
states_sales.boxplot(by ='State', column =['Sales'], grid = False,showfliers=False,rot=90)