In [1]:
import numpy as np
import pandas as pd

In [3]:
X=np.random.randint(23,67,20)
Y=np.random.randint(34,89,20)

In [14]:
df=pd.DataFrame(name=X,Y)

In [15]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,36,50,58,43,24,51,41,26,41,48,61,53,32,66,40,55,36,49,54,38
1,85,61,80,66,72,48,75,75,47,66,46,88,78,70,71,72,76,60,79,62